:root {
    --bg: #121212;
    --panel: #1a1a1a;
    --text: #efefef;
    --muted: #8a8a8a;
    --white: #ffffff;
    --black: #0c0c0c;
    --orange: #f36b2c;
    --lime: #cfff4d;
    --slate: #2a2a2a;
    --purple: #6C5CE7;
    --radius: 18px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
     opacity: 0;
}

body.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}


.top-nav {
    position: sticky;
    top: 11px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-pill {
    background: #161616;
    border-radius: 28px;
    padding: 10px 18px;
    display: inline-flex;
    gap: 22px;
    box-shadow: 0 10px 30px rgb(0,0,0,35);
}

.nav-pill .icon {
    color: #ddd;
    width: 36px; 
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    position: relative;
    text-decoration: none;
}

.nav-pill .icon:hover {
    background: #222;
    color:#ffff;
}

.nav-pill .icon svg {
    width: 24px;
    height: 24px;
}

.nav-pill .icon .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #2b2b2b;
    color: #eaeaea;
    padding: 4px 8px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.nav-pill .icon:hover .tooltip {
    opacity: 1;
    bottom: -40px;
}
